@model JwtDemonstration.Countries

@{ 
    ViewData["Title"] = "Secret";
}

<h2>Secret Database</h2>


<table class="table">
       <thead>
           <tr>
               <th>

               </th>
               <th></th>
           </tr>
       </thead>
       <tbody>
@foreach (var item in Model.countries) { 
           <tr>
               <td>
                   @Html.DisplayFor(modelItem => item.Country)
                   
                   @Html.DisplayFor(modelItem => item.States)
                   
               </td>
               <td>
                   @Html.ActionLink("Edit", "Edit", new { /*id=item.PrimaryKey*/}) |
                   @Html.ActionLink("Details", "Details", new { /*id=item.PrimaryKey*/}) |
                   @Html.ActionLink("Delete", "DElete", new { /*id=item.PrimaryKey*/}) 
            
               </td>
           </tr>
            }
       </tbody>
</table>*/